* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: $colour_main;
}
body, html {
    font-size: 16px;
    font-weight: 300;

    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body.no-overflow {
    overflow: hidden;
}

@include headings {
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    border-bottom: 1px solid $colour_light;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    &.no-border {
        padding-bottom: 0;
        border-bottom: none;
    }
}

h1 {
    margin-top: 0;
}

p {
    line-height: 1.8em;
    font-weight: 300;
}

a, a:visited {
    text-decoration: none;
    border-bottom: 2px solid $colour_lolight;
    color: $colour_main;
    transition: border-bottom-width 0.1s linear;
    padding-bottom: 1px;
    &.no-border {
        border-bottom: none;
    }
}

a:hover {
    border-bottom-width: .2em;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    border-radius: 15px;
    max-width: 100%;
    overflow-x: auto;
    padding: 15px;
}

code * {
    font-family: monospace, monospace;
}

strong {
    font-weight: 700;
}

blockquote {
    border-left: 5px solid $colour_medium;
    margin: 1em 0;
    padding-left: 1em;
    font-weight: 500;
}

#logo {
    display: block;
    margin: 50px auto;
    fill: $colour_main;
    text-align: center;
    svg {
        width: 150px;
        height: 150px;
    }
}

hr {
    height: 1px;
    margin: 30px auto;
    background-color: $colour_light;
    border: none;
    &.divider {
        width: 50%;
    }
}

.separator {
    &:before {
        content: "|";
    }
    margin: 0 6px;
}

.image-credit {
    margin: 0;
    font-size: 0.7em;
}

.social {
    text-align: center;
    padding: 0;
    .social-link {
        padding: 15px;
        list-style-type: none;
        a, a:visited {
            color: $colour_main;
            border: none;
        }
        display: inline-block;
        i {
            font-size: 40px;
        }
    }
}

.meta {
    font-weight: 100;
}

.fleuron {
    position: relative;
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 50px;
    height: 50px;
    svg {
        color: $colour_light;
        fill: $colour_light;
        width: 50px;
        height: 50px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 24px;
        right: -60px;
        width: 50px;
        height: 2px;
        background-color: $colour_light;
        display: inline-block;
    }
    &:after {
        content: "";
        position: absolute;
        top: 24px;
        left: -60px;
        width: 50px;
        height: 2px;
        background-color: $colour_light;
        display: inline-block;
    }

}

.gallery, #lightbox {
    a {
        border: none;
    }
}
