* {
    font-family: $font-family;
    color: $colour_main;
    line-height: $font-height;
}

html, body {
    font-size: 100%;
    font-weight: $font-weight-light;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

body.no-overflow {
    overflow: hidden;
}

