@media (prefers-color-scheme: dark) {

  // _common.scss
  ::selection {
    background-color: rgba($colour_accent_alt, 0.2);
  }

  body {
    color: $colour_bright;
  }

  html,
  body {
    background-color: $colour_dark;
  }

  // _typography.scss
  @include headings {
    border-bottom-color: $colour_bright_alt;
  }

  // _header.scss
  header {
    border-bottom: 1px solid $colour_bright_alt;
  }

  nav {
    .nav-menu {
      .nav-item {
        &:after {
          color: $colour_bright;
        }
      }
    }

    .hamburger {
      .bar {
        background-color: $colour_bright;
      }
    }
  }

  @media only screen and (max-width: $breakpoint_med) {
    nav {
      .nav-menu {
        background-color: $colour_dark;
      }
    }
  }

  // _footer.scss
  footer {
    border-top-color: $colour_bright_alt;
  }

  // _shame.scss
  a,
  a:visited {
    color: $colour_bright;
    text-decoration-color: $colour_accent_alt;

    &:hover {
      background-color: rgba($colour_accent_alt, 0.2);
    }
  }

  hr {
    background-color: $colour_bright_alt;
  }

  .fleuron {

    &:before,
    &:after {
      background-color: $colour_bright_alt;
    }

    svg {
      fill: $colour_bright_alt;
      color: $colour_bright_alt;
    }
  }

  .separator {
    color: $colour_bright;
  }

  a.heading-hash {
    color: $colour_bright_alt;

    &:hover {
      color: $colour_bright;
    }
  }
}