.gallery {
  text-align: center;
}

.gallery-thumb {
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 10px;
  img {
    transform: scale(1);
    transition: transform 300ms, opacity 300ms;
  }
  &:hover {
    cursor: zoom-in;
    img {
      transform: scale(1.1);
    }
  }
}


#gallery-container {
  display: table-cell;
  visibility: hidden;
  vertical-align: middle;
  text-align: center;
  background-color: black;
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  opacity: 0;
  transition: visibility 600ms, opacity 600ms;
  &:hover {
    cursor: zoom-out;
  }
}

#gallery-container.active {
  opacity: 1;
  visibility: visible;
}

.gallery-close {
  margin-top: 0.5em;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  color: white;
  padding: 0.5em;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1em;
  border-radius: 2px;
}

#image-wrapper, #image-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#image-loader {
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}