.row .header-col {
  margin-top: 0;
  margin-bottom: 0;
}

.row .top-col {
  margin-top: 0;
}

header {
  border-bottom: 1px solid $colour_light;
  height: 60px;
  a {
    border-bottom: none;
    height: 60px;
  }
}
.header-logo {
  float: left;
  padding-bottom: 0;
  svg {
    height: 30px;
    width: 30px;
    padding: 15px;
  }
}

nav {
  .nav-menu {
    list-style-type: none;
    padding-left: 0;
    float: right;
    margin: 0;
    font-size: 0.8em;
    font-weight: 700;
    .nav-item {
      display: inline-block;
      padding: 15px 0;
      line-height: 30px;
      &.active {
        a {
          font-weight: 800;
        }
      }
      &:after {
        content: "|";
        font-weight: 300;
        margin: 0 6px;
        color: $colour_medium;
      }
      &:last-child:after {
        content: none;
        margin: 0;
      }
      a:hover {
        border-bottom: 2px solid $colour_lolight;
      }
    }
  }
  .hamburger {
    display: none;
    float: right;
    margin-top: 17px;
    cursor: pointer;
    .bar {
      display: block;
      width: 20px;
      height: 2px;
      margin: 5px 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $colour_main;
      &:nth-child(1) {
        width: 17px;
      }
      &:nth-child(2) {
        width: 12px;
      }
      &:nth-child(3) {
        width: 20px;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint_med) {
  nav {
    .nav-menu {
      float: none;
      width: 100%;
      height: calc(100vh - 92px);
      position: absolute;
      transition: all 300ms;
      right: -2px;
      opacity: 0;
      top: 50px;
      margin: 0;
      text-align: right;
      background-color: $colour_white;
      z-index: 100;
      visibility: hidden;
      padding: 15px;
      &.active {
        top: 60px;
        opacity: 1;
        visibility: visible;
      }
      .nav-item {
        display: block;
        padding: 10px;
        line-height: 1;
        font-size: 1.5em;
        &.active {
        a {
          font-weight: 700;
        }
      }
        &:after {
          content: none;
          margin: 0;
        }
      }
    }
    .hamburger {
      display: block;
      padding-right: 15px;
      &.active {
        .bar {
          width: 21px;
          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
          }

          &:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
          }
        }
      }
    }
  }
}