a, a:visited {
    text-decoration: none;
    border-bottom: 2px solid $colour_accent;
    color: $colour_main;
    transition: border-bottom-width 0.1s linear;
    padding-bottom: 2px;
    &.no-border {
        border-bottom: none;
    }
}

a:hover {
    border-bottom-width: .2em;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

#logo {
    display: block;
    margin: 2em auto;
    text-align: center;
    svg {
        width: 150px;
        height: 150px;
    }
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

hr {
    height: 1px;
    margin: 30px auto;
    background-color: $colour_light;
    border: none;
    &.divider {
        width: 50%;
    }
}

.separator {
    font-weight: $font-weight-light;
    margin: 0 6px;
    color: $colour_medium;
    &:before {
        content: "|";
    }
}

.image-credit {
    margin: 0;
    font-size: 0.7em;
}

.social {
    text-align: center;
    padding: 0;
    .social-link {
        padding: 15px;
        list-style-type: none;
        a, a:visited {
            border: none;
        }
        display: inline-block;
        i {
            font-size: 35px;
        }
    }
}

.tag_link {
    i {
        color: $colour_medium;
        padding-right: 0.5em;
    }
    display: inline-block;
    margin-right: 0.5em;
    &.tag_link--tight {
        i {
            padding-right: 0;
        }
    }
    margin-right: 0.2em;
}

.fleuron {
    position: relative;
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 50px;
    height: 50px;
    svg {
        color: $colour_light;
        fill: $colour_light;
        width: 50px;
        height: 50px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 24px;
        right: -60px;
        width: 50px;
        height: 2px;
        background-color: $colour_light;
        display: inline-block;
    }
    &:after {
        content: "";
        position: absolute;
        top: 24px;
        left: -60px;
        width: 50px;
        height: 2px;
        background-color: $colour_light;
        display: inline-block;
    }
}

a.heading-hash {
    font-family: $font-family-all-caps;
    color: $colour_medium;
    border-bottom: none;
    display: none;
    width: 0.8em;
    margin-left: -0.8em;
    &:hover {
        color: $colour_main;
    }
    @media only screen and (min-width: $breakpoint-small) {
        display: inline-block;
    }
}

.post-list-title {
    font-size: 2em;
    line-height: 1.25;
}

.chroma {
    border-radius: 5px;
}
