@font-face {
    font-family: "Mala_noswash";
    src: url('../fonts/jrukfonts/Mala-Light-noswash.eot');
    src: url('../fonts/jrukfonts/Mala-Light-noswash.woff') format('woff');
    src: url('../fonts/jrukfonts/Mala-Light-noswash.woff2') format('woff2');
}
@font-face {
    font-family: 'Mala';
    src: url('../fonts/jrukfonts/mala-light-v100.eot');
    src: url('../fonts/jrukfonts/mala-light-v100.woff') format('woff');
    src: url('../fonts/jrukfonts/mala-light-v100.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oskar';
    // src: url('../fonts/jrukfonts/oskar-twobold.woff') format('woff');
    // src: url('../fonts/jrukfonts/OskarTEST-TwoRegular.woff') format('woff');
    src: url('../fonts/jrukfonts/OskarTEST-TwoLight.woff') format('woff');
}
@font-face {
    font-family: 'Oskar';
    src: url('../fonts/jrukfonts/Oskar-TwoLight.eot');
    src: url('../fonts/jrukfonts/Oskar-TwoLight.woff') format('woff');
    src: url('../fonts/jrukfonts/Oskar-TwoLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oskar';
    src: url('../fonts/jrukfonts/Oskar-TwoBold.eot');
    src: url('../fonts/jrukfonts/Oskar-TwoBold.woff') format('woff');
    src: url('../fonts/jrukfonts/Oskar-TwoBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
// fonts
$font-family: Mala_noswash, serif;
$font-family-swash: Mala, serif;
$font-family-all-caps: Oskar, sans-serif;
$font-weight-super-light: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-heavy: 700;
$font-weight-super-heavy: 900;
$font-height: 1.5;

// colours
$colour_main: #555555;
$colour_white: #FFFFFF;
$colour_light: #EEEEEE;
$colour_bright: #dfe0df;
$colour_bright_alt: rgba($colour_bright, 0.2);
$colour_medium: #DDDDDD;
$colour_dark: #1e1e1e;
$colour_black: #000000;
$colour_accent: #a550a7;
$colour_accent_alt: #68d6ff;

// box model
$padding: 1.5em;

// grid
$grid-width: 96%;
$grid-gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
