body, html {
    background: #e2e1dc;
    font-size: 20px;
    font-family: -apple-system, system-ui,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333333;
}

@include headings {
    font-weight: 900;
}

h1 {
    margin-top: 0;
}

p { line-height: 1.5em}

a, a:visited {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #1565C0;
    color: #333333;
    transition: border-bottom-width 0.1s linear;
    padding-bottom: 1px;
}

a:hover {
    border-bottom-width: .3em;
}

.text-center {
    text-align: center;
}
#logo {
    width: 250px;
    height: 250px;
    display: block;
    margin: 100px auto 50px auto;
}
.social {
    text-align: center;
    font-size: 40px;
}
.social-link, .social-link:visited {
    padding: 15px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.meta {
    font-family: 'Darker Grotesque', sans-serif;
}
#copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #bbbbbb;
    font-size: 0.75em;
}