.glightbox-clean {
  .gslide-title, .gslide-desc {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #555;
    font-weight: 300;
  }
  .gslide-title {
    margin: 0;
    font-weight: 500;
    font-size: 0.9em;
  }
  .gslide-desc {
    font-size: 0.7em;
    color: #BBB;
  }
}
