{{ define "main" }}
    {{ if isset .Site.Params "avatar" }}<img id="logo" alt="avatar" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}">{{ end }}
    {{ with .Site.Params.social }}
        <ul class="social">
            {{ range sort . "order" }}
                <li class="social-link" >
                    {{ if .icon }}
                        <a href="{{ .url }}">
                            <i class="fa fa-{{ .icon }}" aria-hidden="true"></i>
                        </a>
                    {{ else }}
                        <a href="{{ .url }}">{{ .name }}</a>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
