{{ define "main" }}
<h2 class="post-title">{{ .Title }}</h2>
<div class="post-content text-center">
    {{ .Content }}
    <section class="gallery">


        {{ $images := sort (.Page.Resources.Match "img/*.jpg") "Exif.Date" "desc" }}
        {{ range $images }}
        {{ $prethumbnail := .Fill "2x2 q80" }}
        {{ $thumbnail := .Fill "300x300 q100" }}
        <a class="gallery-thumb" href="{{ .Permalink }}">
            <img class="lazy-image" src="{{ $prethumbnail.Permalink }}" data-src="{{ $thumbnail.Permalink }}" width="300" height="300">
        </a>
        {{ end }}
    </section>
    <script>
        document.body.innerHTML += '<div id="gallery-container"><div id="image-loader"><img alt="avatar" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}"></div><div id="image-wrapper"></div><div class="gallery-close">&times;</div></div>';
        var container = document.getElementById('gallery-container');
        var imageWrapper = document.getElementById('image-wrapper');
        container.addEventListener('click', function(){
            this.classList.remove("active");
            document.body.classList.remove('no-overflow');
        });

        document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages = document.querySelectorAll("img.lazy-image");
            var lazyloadThrottleTimeout;

            function lazyload () {
                if(lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function() {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function(img) {
                        if(img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy-image');
                        }
                    });
                    if(lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }
            lazyload();

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        });

        var thumbs = document.getElementsByClassName('gallery-thumb');
        for (var i = 0; i < thumbs.length; i++) {
            thumbs[i].addEventListener('click', function(event){
                event.preventDefault();
                container.classList.add("active");
                document.body.classList.add('no-overflow');
                imageWrapper.style.backgroundImage = "url("+ this.getAttribute('href') + ")";
            });
        }
    </script>
</div>
{{ end }}
