<!DOCTYPE html>
<html lang="en">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 header-col">
                    {{- partial "header.html" . -}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 top-col">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
        {{- partial "footer.html" . -}}
                </div>
            </div>
        </div>
        <script>
            var hamburger = document.querySelector(".hamburger");
            var navMenu = document.querySelector(".nav-menu");
            hamburger.addEventListener("click", mobileMenu);

            function mobileMenu() {
                hamburger.classList.toggle("active");
                navMenu.classList.toggle("active");
            }
        </script>
        {{- partial "script.html" . -}}
    </body>
</html>
