{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ range .Pages.ByPublishDate.Reverse }}
        <h3 class="no-border"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="font-super-light">{{ partial "metadata.html" . }}</p>
        <p>{{ .Summary }}</p>
        <hr class="divider">
    {{ end }}
    <ul class="social">
        {{ partial "social_link" (dict "link_text" "Subscribe to the RSS feed for jamesrampton.uk" "icon" "rss"  "url" "/feed.xml" ) }}
    </ul>
{{ end }}
