{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ range .Pages.ByPublishDate.Reverse }}
        <h3 class="no-border"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="font-super-light">{{ partial "metadata.html" . }}</p>
        <p>{{ .Summary }}</p>
        <hr class="divider">
    {{ end }}
    <ul class="social">
        <li class="social-link" >
            <a href="/feed.xml">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <span class="sr-only">Subscribe to the RSS feed</span>
            </a>
        </li>
    </ul>
{{ end }}
