{{ define "main" }}
    <h2 class="post-title">{{ .Title }}</h2>
    {{ partial "metadata.html" . }}
    <div class="post-content">
        {{ if isset .Params "images" }}
        {{ $featured_image := index (.Params.Images) 0 }}
        <p><img src="{{ $featured_image }}" alt="{{ .Params.featured_image_alt_text }}"></p>
        {{ end }}
        {{ .Content }}
        {{ if isset .Params "twitter_link" }}
        <div class="fleuron">{{- partial "logo.html" }}</div>
        <p class="center">
        <a href="{{ .Params.twitter_link }}"><i class="fa fa-twitter" aria-hidden="true"></i>
        Respectful comments welcome on Twitter</a></p>
        {{ end }}
    </div>
{{ end }}
