<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="author" href="humans.txt" />
<link rel="alternate" type="application/rss+xml" title="RSS Feed for www.jamesrampton.uk" href="/feed.xml" />
{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>
{{ if or .Params.description .Site.Params.description }}
<meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.description }}{{ .Site.Params.description }}{{ end }}"/>
{{ end }}

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}


<!-- favicons -->
<link rel="icon" href="/images/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" href="/images/favicon/favicon-128.png" sizes="128x128">
<link rel="icon" href="/images/favicon/favicon-192.png" sizes="192x192">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="/images/favicon/favicon-196.png">

<!-- iOS -->
<link rel="apple-touch-icon" href="/images/favicon/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" href="/images/favicon/favicon-180.png" sizes="180x180">
<!-- macOS -->
<link rel="mask-icon" href="/images/favicon/pinned_icon.svg" color="#333333">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{{ $sass := resources.Get "sass/main.scss" }}
{{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed") }}
{{ $style := $sass | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
{{ if .Site.Params.noSEO }}
<meta name="robots" content="noindex, nofollow">
{{ else }}
<script defer data-domain="jamesrampton.uk" src="https://plausible.io/js/plausible.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
{{ end }}
