<header>
    <a class="header-logo" href="/">{{- partial "logo.html" }}<span class="sr-only">Home page</span></a>
    <nav>
        <ul class="nav-menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
