<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if or .Params.description .Site.Params.description }}
    <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Site.Params.description }}{{ .Site.Params.description }}{{ end }}"/>
    {{ end }}
    {{- block "extrahead" . }}{{- end }}

    <!-- favicons -->
    <link rel="icon" href="/images/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/images/favicon/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/images/favicon/favicon-192.png" sizes="192x192">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="/images/favicon/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/images/favicon/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/favicon/favicon-180.png" sizes="180x180">
    <!-- macOS -->
    <link rel="mask-icon" href="/images/favicon/pinned_icon.svg" color="#333333">

    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $options := (dict "targetPath" "css/main.css" "outputStyle" "compressed") }}
    {{ $style := $sass | resources.ToCSS $options | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">

    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
