{{ define "main" }}
    <div id="logo">
        <img src="/images/jr_avatar.jpg?v=2" alt="A portrait of James against a yellow background, wearing short hair and a back and white striped t-shirt." width="150" height="150">
    </div>
    <h1 class="no-border">James Rampton</h1>
    <p>I make software, music and images. Sometimes all at once.</p>
    <h2 class="font-heavy">Latest posts</h2>
    {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
        <p class="no-border font-base-size"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
    {{ end }}
    <p class="font-all-caps font-heavy"><a href="/posts/">View all posts</a></p>
{{ end }}
