{{ define "main" }}
    <h1>
    {{ if isset .Params "long_title" }}
        {{ .Params.long_title }}
    {{ else }}
        {{ .Title }}
    {{ end }}
    </h1>
    <div class="post-content">
        {{ if isset .Params "images" }}
        {{ $featured_image := index (.Params.Images) 0 }}
        <img src="{{ $featured_image }}" alt="{{ .Params.featured_image_alt_text }}">
        {{ end }}
        {{ if isset .Params "featured_image_credit" }}<p class="right image-credit">Image credit: {{ .Params.featured_image_credit }}{{ end }}</p>
        {{ .Content }}
        Last updated <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "January 2, 2006" }}</time>
    </div>
{{ end }}
