{{ define "extrahead" }}
{{ end }}
<section class="gallery">
    {{ $images := sort (.Page.Resources.Match "img/*.jpg") "Exif.Date" "desc" }}
    {{ range $images }}
        {{ $thumbnail := .Fill "300x300 q100" }}
    <div class="gallery-card" data-image="{{ .Permalink }}" >
        <a class="gallery-thumb">
            <img src="{{ $thumbnail.Permalink }}">
        </a>

    <div class="gallery-meta">
        <p class="gallery-title">{{ .Title }}</p>
        {{ with .Exif.Tags }}
        <div class="gallery-description">
            {{ if .LensModel }}
            {{ with .Model }}{{ . }}{{ end }}{{ with .LensModel }} &sdot; {{ . }}{{ end }}{{ with .FNumber }}<br> ƒ/{{ . }}{{ end }}{{ with .FocalLength }} &sdot; {{ . }}mm{{ end }}{{ with .ExposureTime }} &sdot; {{ . }}s{{ end }}{{ with .ISOSpeedRatings }} &sdot; ISO {{ . }}{{ end }}
            {{ else }}
            {{ with .Model }}{{ . }}{{ end }}{{ with .ExposureTime }}<br>{{ . }}s{{ end }}{{ with .ISOSpeedRatings }} &sdot; ISO {{ . }}{{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>

        </div>
    {{ end }}
</section>
{{- /* {{ range $index, $image := $images }}

{{ end }} */ -}}
<script>
    document.body.innerHTML += '<div id="gallery-container" class="gallery-container"><div class="gallery-close">&times;</div><div id="image-wrapper"></div></div>';
    var container = document.getElementById('gallery-container');
    var imageWrapper = document.getElementById('image-wrapper');
    container.addEventListener('click', function(){
        this.classList.remove("active");
        document.body.style.overflow = "initial";
    });
    var thumbs = document.getElementsByClassName('gallery-card');
    for (var i = 0; i < thumbs.length; i++) {
        thumbs[i].addEventListener('click', function(event){
            event.preventDefault();
            imageWrapper.style.backgroundImage = "url("+ this.dataset.image + ")";
            container.classList.add("active");
            document.body.style.overflow = "hidden";
        });
    }
</script>