<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">

    <!-- favicons -->
    <link rel="icon" href="/theme/images/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/theme/images/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/theme/images/favicon-192.png" sizes="192x192">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="/theme/images/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/theme/images/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/theme/images/favicon-180.png" sizes="180x180">
    <!-- macOS -->
    <link rel="mask-icon" href="/theme/images/pinned_icon.svg?v=2" color="#333333">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/styles.css">
    <script src="https://kit.fontawesome.com/ea942b1dc0.js" crossorigin="anonymous"></script>
    <title>{{ SITENAME }}</title>
</head>
<body>
<div id="wrapper">
    {% block content %}{% endblock %}
</div>
<p id="copyright">&copy; {{ AUTHOR }} <span id="year"></span></p>
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
</body>
</html>
