{% extends "base.html" %}

{% block content %}
    <svg id="logo" xmlns="http://www.w3.org/2000/svg" width="642" height="642" viewBox="0 0 642 642"><path d="M342.41,235.76H410C410,451.7,226,628.35.52,628.35V569.46c170.13,0,313.49-117.76,342.6-275h-29.6a319.77,319.77,0,0,0-20.07,111.76H231.94c0-215.94,184-392.59,409.54-392.59V72.54C515.5,72.54,403.53,137.71,342.41,235.76Z"/></svg>
    <div class="social">
        <a class="social-link" href="https://vimeo.com/jamesrampton"><i class="fa fa-vimeo"></i></a>
        <a class="social-link" href="https://soundcloud.com/jamesrampton"><i class="fa fa-soundcloud"></i></a>
    <a class="social-link" href="https://jamesrampton.bandcamp.com"><i class="fa fa-bandcamp"></i></a>
    </div>
{% endblock %}
